@font-face {
  font-family: 'Josefin Sans';
  src: url('/src/assets/fonts/JosefinSans-VariableFont_wght.ttf')
    format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/src/assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-style: italic;
  font-display: swap;
}
