@use '../../../assets/styles/abstracts' as *;

.checkbox-container {
  position: relative;

  &:hover > .checkbox-mark {
    background: linear-gradient(145deg, $gradient-1 0%, $gradient-2 100%);
  }
}

.checkbox-mark {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  transition: 200ms opacity linear;
  background: var(--checkbox-border);

  .checkbox-background {
    width: 19px;
    height: 19px;
    background: var(--list-background);
    border-radius: 50%;
    top: 1px;
    position: relative;
    left: 1px;

    &.fill {
      opacity: 0;
      background: linear-gradient(145deg, $gradient-1 0%, $gradient-2 100%);
    }
  }

  &.active > .checkbox-background {
    &.fill {
      opacity: 1;
    }
  }
}

.checkbox {
  appearance: none;
  margin: 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  cursor: pointer;

  &::before {
    content: '';
  }

  &:checked::before {
    content: url('../../../assets/images/icon-check.svg');
  }
}

@include screen-xs {
  .checkbox {
    width: 24px;
    height: 24px;
  }

  .checkbox-mark {
    width: 24px;
    height: 24px;

    .checkbox-background {
      width: 22px;
      height: 22px;
    }
  }
}
