@use '../../../assets/styles/abstracts' as *;

.checkbox-container {
  position: relative;

  &:hover > .checkbox-mark {
    background: linear-gradient(145deg, $gradient-1 0%, $gradient-2 100%);
  }
}

.checkbox-mark {
  position: relative;
  width: to-rem(24);
  height: to-rem(24);
  border-radius: 50%;
  transition: 200ms opacity linear;
  background: #e3e4f1;

  &::before {
    content: '';
    width: to-rem(23);
    height: to-rem(23);
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0.9px;
    left: 0.3px;
    opacity: 1;
  }

  &::after {
    content: '';
    width: to-rem(23);
    height: to-rem(23);
    background: linear-gradient(145deg, $gradient-1 0%, $gradient-2 100%);
    border-radius: 50%;
    position: absolute;
    top: 0.9px;
    left: 0.3px;
    opacity: 0;
  }

  &.active::before {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &.active::after {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
}

.checkbox {
  appearance: none;
  margin: 0;
  width: to-rem(24);
  height: to-rem(24);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  cursor: pointer;

  &::before {
    content: '';
  }

  &:checked::before {
    content: url('../../../assets/images/icon-check.svg');
  }
}
