@use '../../../assets/styles/abstracts/' as *;

.list-footer {
  display: flex;
  justify-content: space-between;
  padding: to-rem(20) to-rem(24);
  color: var(--text-secondary);
  font-size: to-rem(14);

  &-filter {
    display: flex;
    gap: to-rem(19);

    input {
      display: none;
    }

    label {
      cursor: pointer;
      transition: color 300ms ease-in-out;
      font-weight: 700;

      &:hover {
        color: var(--text-primary);
      }

      &.active {
        color: var(--accent);
      }
    }
  }

  &-clear-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: color 300ms ease-in-out;
    color: var(--text-secondary);
    font-size: to-rem(14);

    &:hover {
      color: var(--text-primary);
    }
  }
}
