@use '../../../assets/styles/abstracts/' as *;

.list-footer {
  display: flex;
  justify-content: space-between;
  padding: to-rem(20) to-rem(24);
  color: var(--text-secondary);
  font-size: to-rem(12);

  &-clear-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: color 300ms ease-in-out;
    color: var(--text-secondary);
    font-size: to-rem(12);

    &:hover {
      color: var(--text-primary);
    }
  }
}

@include screen-xs {
  .list-footer {
    font-size: to-rem(14);

    &-clear-btn {
      font-size: to-rem(14);
    }
  }
}
