@use '../../../assets/styles/abstracts' as *;

.task-list {
  background-color: var(--list-background);
  margin: to-rem(24) 0;
  border-radius: 5px;
  box-shadow: var(--list-shadow);
  position: relative;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-empty {
    padding: 1.25rem 1.5rem;
    color: var(--text-secondary);
  }
}
