@use '../../../assets/styles/abstracts' as *;

.input-container {
  background-color: var(--list-background);
  padding: to-rem(14) to-rem(20);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  box-shadow: var(--list-shadow);

  .textinput {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-primary);
    font-size: to-rem(12);
  }
}

@include screen-xs {
  .input-container {
    padding: to-rem(20) to-rem(24);

    .textinput {
      font-size: to-rem(18);
    }
  }
}
