@use '../../../assets/styles/abstracts' as *;

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 40px;
  font-size: 0.6rem;
  line-height: 0.7;

  &__text {
    letter-spacing: 0.6rem;
  }

  img {
    cursor: pointer;
    height: 20px;
  }
}

@include screen-xs {
  .title {
    margin-bottom: 2.5rem;
    line-height: normal;
    font-size: 0.8rem;

    &__text {
      letter-spacing: 0.9375rem;
    }

    img {
      height: auto;
    }
  }
}
