@use '../../../assets/styles/abstracts/' as *;

.task-item {
  padding: to-rem(16) to-rem(20);
  border-bottom: solid 1px var(--checkbox-border);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover .task-item-delete-btn {
    transition: opacity 500ms ease-in-out;
    opacity: 1;
  }

  &-title {
    color: var(--text-primary);
    font-size: to-rem(12);

    &.active {
      text-decoration: line-through;
      color: var(--text-tertiary);
    }
  }

  &-content {
    display: flex;
    align-items: center;
    gap: to-rem(24);
  }

  &-delete-btn {
    opacity: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;

    img {
      height: 12px;
    }
  }
}

@include screen-xs {
  .task-item {
    padding: to-rem(20) to-rem(24);

    &-title {
      font-size: to-rem(18);
    }

    &-delete-btn {
      opacity: 0;

      img {
        height: auto;
      }
    }
  }
}
