// ========
// COLORS
// ========
$primary: #3a7bfd;
$gradient-1: #57ddff;
$gradient-2: #c058f3;

// Light theme
$very-light-gray: #fafafa;
$very-light-gray-blue: #e3e4f1;
$light-gray-blue-ltheme: #d1d2da;
$dark-gray-blue: #9495a5;
$very-dark-gray-blue-ltheme: #494c6b;

// Dark theme
$very-dark-blue: #171823;
$very-dark-desat-blue: #25273d;
$light-gray-blue-dtheme: #c8cbe7;
$light-gray-blue-dtheme-2: #4d5067;
$dark-gray-blue-dtheme: #5b5e7e;
$very-dark-gray-blue-dtheme: #393a4b;

// =======
// FONTS
// =======

$font-size: 18px;
$font-family: 'Josefin Sans';
