// ========
// COLORS
// ========
$primary: #3a7bfd;
$gradient-1: #57ddff;
$gradient-2: #c058f3;

// Light theme
$very-light-gray: #fafafa;
$very-light-gray-blue: #e4e5f1;
$light-gray-blue-ltheme: #d2d3db;
$dark-gray-blue: #9394a5;
$very-dark-gray-blue-ltheme: #484b6a;

// Dark theme
$very-dark-blue: #161722;
$very-dark-desat-blue: #25273c;
$light-gray-blue-dtheme: #cacde8;
$light-gray-blue-dtheme-hover: #e4e5f1;
$very-dark-gray-blue-dtheme: #4d5066;

// =======
// FONTS
// =======

$font-size: 18px;
$font-family: 'Josefin Sans';
