// ========
// COLORS
// ========
$primary: hsl(220deg 98% 61%);
$gradient-1: hsl(192deg 100% 67%);
$gradient-2: hsl(280deg 87% 65%);

// Light theme
$very-light-gray: hsl(0deg 0% 98%);
$very-light-gray-blue: hsl(236deg 33% 92%);
$light-gray-blue-ltheme: hsl(233deg 11% 84%);
$dark-gray-blue: hsl(236deg 9% 61%);
$very-dark-gray-blue-ltheme: hsl(235deg 19% 35%);

// Dark theme
$very-dark-blue: hsl(235deg 21% 11%);
$very-dark-desat-blue: hsl(235deg 24% 19%);
$light-gray-blue-dtheme: hsl(234deg 39% 85%);
$light-gray-blue-dtheme-hover: hsl(236deg 33% 92%);
$very-dark-gray-blue-dtheme: hsl(233deg 14% 35%);

// =======
// FONTS
// =======

$font-size: 18px;
$font-family: 'Josefin Sans';
